@media (min-width: 1024px) {
  .img-fluid-limit {
    max-width: 1024px;
    width: 100%;
  }
}


.image-wrapper {
  width: 100%;
  background-color: black;
  margin: 0 auto;
  border: 0 auto;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

#copy-tst-alert {
  display: none;
  background-color: gray;
  color: white;
}

.custom-badge {
  font-size: 0.75rem;      /* 버튼 텍스트 크기에 맞춤 */
  padding: 0.35em 0.65em;
  line-height: 1;
}
